<div class="container">
    <ng-container *ngFor="let draft of draftQues">
        <div class="card border-danger">
            <div class="card-body">
                <div class="d-flex justify-content-between lh-condensed">
                    <!-- <div class="float-left">
          <h5>{{ route.routeFrom }}</h5>
        </div> -->

                    <div>
                        <h5>{{draft.question}}</h5>
                    </div>

                    <!-- <div class="float-right">
          <h5>{{ route.routeTo }}</h5>
        </div> -->
                </div>
            </div>
        </div>

        <hr />
    </ng-container>
</div>