<br>
<footer>
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-1 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold" style="color: white">
          Money Plant
        </h5>
        <p>About Us</p>
        <p>Blog</p>
        <p>Help&Support</p>
        <p>Privacy Policy</p>
        <p>Terms&Condition</p>
        <p>Disclaimer</p>
      </div>
      <div class="col-md-1 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Explore</h5>
        <p>Advisor</p>
        <p>Consulting Companies</p>
        <p>Learners Corner</p>
        <p>Top Investments</p>
        <p>Insurance</p>
        <p>Stock Investments</p>
      </div>
      <div class="col-md-1 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Top Courses</h5>
        <p>Financial Markets</p>
        <p>Master of Management</p>
        <p>Money Management</p>
        <p>Stock Markets</p>
        <p>Basics of Finance</p>
        <p>Tax Savings</p>
      </div>
      <div class="col-md-1 col-lg-2 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Quick Links</h5>
        <p>Community Membership</p>
        <p>Frequently asked Questions</p>
        <p>Help</p>
        <p>Articles</p>
        <p>Tending Now</p>
        <p>Glossary</p>
      </div>
      <div class="col-md-1 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Contact us</h5>
        <p>email@example.com</p>
        <p>002-010-66269735</p>
        <br /><br />
        <div style="text-align: left">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a
                href="#"
                class="btn-floating btn-sm text-white"
                style="font-size: 23px"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                href="#"
                class="btn-floating btn-sm text-white"
                style="font-size: 23px"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                href="#"
                class="btn-floating btn-sm text-white"
                style="font-size: 23px"
                ><i class="fab fa-facebook"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                href="#"
                class="btn-floating btn-sm text-white"
                style="font-size: 23px"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a
                href="#"
                class="btn-floating btn-sm text-white"
                style="font-size: 23px"
                ><i class="fab fa-youtube"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <hr class="mb-4" style="background: rgb(5, 5, 5)" />
      <div>
        <p style="text-align: center">
          @Copyright 2023 moneyplant.com | All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
