<div class="container">
    <form  [formGroup]="addQuesForm" (ngSubmit)="submitquestion(addQuesForm)">
        <h5>Ask your Queries</h5>
        <div class="textarea-wrapper ">
            <textarea #questionInput rows="10" cols="100" maxlength="500"
                (input)="updateRemainingCharacters(questionInput.value)" placeholder="Write something here..."
                formControlName="question"></textarea>
            <span class="counter-position">Characters Remaining:{{characterCount}}</span>
        </div>

        <br>
        <input type="submit" class="btn btn-outline-success"/>
        <input type="submit" class="btn btn-success button-space">
    </form>
</div>