
.container{
    width: 55vw;
    height: 60vh;
    background-color: #006580;
    margin-left: 26vw;
    margin-top: 3vw;
    border-radius: 5px;
}

.container h3{
    color: white;
    position: relative;
    top: 2vh;
    left: 2vw;
}

.container2{
    /* background-color: white; */
    margin: 2vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
}

.box{

    background-color: #ffffff;
    margin: 0.6vw 0;
    height: 15vh;
}

.box1{
    margin: 1vw;
    color: #838383;

}

.box2{
    margin: 1vw;
    color: #52d669;
}

.box3{
    margin: 1vw;
    color: #f5d000;
}

.box1:hover{
    color: black;
    cursor: pointer;
}

.container button{
    background-color: #69b130;
    color: white;
    border: none;
    height: 2.5vw;
    width: 12vw;
    border-radius: 6px;
    margin-left: 2vw;
}

.container4{
    margin-bottom: 6vw;
}

.heading2{
    margin-left: 26vw;
}

.obj{
    margin-left:26vw ;
    margin-top: 10vh;
    border: 1px solid black;
    width: 50vw;
    padding: 2vw;
}

.obj .innerobj{
    display: flex;
    flex-direction: column;
}

.obj .innerobj .innerobj2{
    display: flex;
    gap: 10px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    align-items: center;
}

.investors-container {
    background-color: #ebeef5;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }

  .investor {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }

  .investor-image {
    flex: 0 0 100px;
    margin-right: 20px;
  }

  .investor-details {
    flex: 1;
  }

  .investor-name {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333333;
  }

  .investor-info {
    color: #666666;
  }



  .footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }

  .footer-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .footer-row .word {
    margin-bottom: 5px;
  }