<div class="container">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Money Plant</a> -->
      <img src="assets/logo1.png" width="150px" height="50px" id=logo alt="Logo image" style="margin-left: 10px;" />
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 " style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Experts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Q & A</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Learn</a>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button type="button" class="btn btn-success" onclick="">Login</button>
        </form>
      </div>
    </div>
  </nav>
  <hr>
  <div>
    <div class="navbars">
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" routerLink="/allQuestions" routerLinkActive="linkActive">All Questions</a>
                <a class="nav-item nav-link active" routerLink="/enterQuestions" routerLinkActive="linkActive">Enter your question</a>
                <a class="nav-item nav-link active" routerLink="/drafts" routerLinkActive="linkActive">Drafts</a>
                <a class="nav-item nav-link active" href="#" routerLinkActive="linkActive">History</a>
              </div>
            </div>
          </nav>
      </div> 
    </div>    
    <p>Filter by topics
    <button type="button" class="btn btn-outline-primary button-space" >Investments</button>
    <button type="button" class="btn btn-outline-primary button-space">Financial Balance</button>
    <button type="button" class="btn btn-outline-primary button-space">Trading</button>
    <button type="button" class="btn btn-outline-primary button-space">Others</button>
</p>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<app-pgfooter></app-pgfooter>
  