

<div class="card1">
  <div class="card_info">
    <h4><b>How can I invest in SIP?</b></h4>

    <p>
      Systematic Investment Plan (SIP) is an investment route offered by Mutual
      Funds whe<span id="dots">...</span
      ><span id="more"
        >rein one can invest a fixed amount in a Mutual Fund scheme at regular
        intervals- say once a month or once a quarter, instead of making a
        lump-sum investment. The installment amount could be as little as INR
        500 a month and is similar to a recurring deposit. It's convenient as
        you can give your bank standing instructions to debit the amount every
        month.</span
      >
    </p>

    <button
      type="button"
      class="btn btn-outline-secondary"
      (click)="myFunction()"
      id="myBtn"
    >
      Continue Reading
    </button>
  </div>
</div>

<br />
